<li>
  {% if rel.node.guid and rel.node.name %}
    <section class="relation" id="{{ rel.node.name }}"></section>
  {% endif %}
  <section class="relation" id="">
    {% if rel.node.guid and rel.node.name %}
      <a href="{{ rel.node.guid }}" class="event" target="_blank">
        {{ rel.node.name }}
      </a>
    {% else %}
      <p class="event">{{ rel.node.name }}</p>
    {% endif %}

    {% assign type = rel.node.type | downcase %}

    {% if rel.node.bio_nl %}
      <p>{{ rel.node.bio_nl | strip_html | truncate: 300 }}</p>
    {% endif %}
    {% if rel.node.bio_en %}
      <p>{{ rel.node.bio_en | strip_html | truncate: 300 }}</p>
    {% endif %}
    {% if rel.node.about_nl %}
      <p>{{ rel.node.about_nl | strip_html | truncate: 300 }}</p>
    {% endif %}
    {% if rel.node.about_en %}
      <p>{{ rel.node.about_en | strip_html | truncate: 300 }}</p>
    {% endif %}
    {% if rel.node.content_nl %}
      <p>{{ rel.node.content_nl | strip_html | truncate: 300 }}</p>
    {% endif %}
    {% if rel.node.content_en %}
      <p>{{ rel.node.content_en | strip_html | truncate: 300 }}</p>
    {% endif %}

    <ul class="relation-relation">
        {% if rel.rels and rel.rels.size > 0 %}
          {% for subrel in rel.rels %}
            <li>
              <p class="{{ subrel.type | downcase }} rel">{{ subrel.node.name }}</p>
            </li>
          {% endfor %}
        {% endif %}
    </ul>

    {% if rel.node.year %}
      <div class="hapje">
        <time class="year rel" datetime="{{ rel.node.year }}-01-01">
          {{ rel.node.year }}
        </time>
      </div>
    {% endif %}
  </section>
</li>