{% layout "server/layouts/base.liquid" %}

{% block content %}
{% if event.title_nl %}
  <h1>{{ event.title_nl }}</h1>
{% elsif event.title_en %}
  <h1>{{ event.title_en }}</h1>
{% else %}
  <h1>Event detail</h1>
{% endif %}

{% if event.content_nl %}
  <div>{{ event.content_nl }}</div>
{% else %}
  <div>{{ event.content_en }}</div>
{% endif %}

<p><strong>Start:</strong> {{ event.date_start }}</p>
<p><strong>Einde:</strong> {{ event.date_end }}</p>

{% endblock %}