<li class="search-result">
    <a href="/event/{{ e.node.uuid }}" class="h2">{{ title }}</a>
    {% comment %} <div class="img"></div> {% endcomment %}
     <p class="{{ e.node.type_en}}">{{e.node.type_nl}}</p>
     {% comment %} <p>{{e.node.qtype}}</p> {% endcomment %}
</li>