<section class="detail-object">
    <div class="object-container">
        {% assign title = event.title_en | default: event.title_nl %}
        {% if title == nil or title == "" %}
        {% assign EventTitle = event.name %}
        {% else %}
        {% assign EventTitle = title %}
        {% endif %}
        <h1 class="title">{{ EventTitle }}</h1>
        <ul>
            {% for rel in relations %}
            {% if rel.node.name %}
            <li>
                {% if rel.node.title_en != null and rel.node.title_en != "" or if rel.node.title_nl != null and
                rel.node.title_nl != ""%}
                {% assign text = rel.node.title_en | default: rel.node.title_nl %}
                {% else %}
                {% assign text = rel.node.name %}
                {% endif %}
                {% render 'server/components/rel-tag/rel-tag.liquid', rel: text, class_name: rel.type %}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        {% if assets.size > 0 %}
        <img src="{{ assets[0].origin }}" alt="" />
        {% endif %}
        {% if event.content_nl != "" %}
        <div class="object-content">{{ event.content_nl }}</div>
        {% elsif event.content_en %}
        <div class="object-content">{{ event.content_en }}</div>
        {% endif %}
        <div class="time-content hapje">
<<<<<<< HEAD
            <time class="year tag">17-05-2024</time>
        </div>
        <div class="time-content hapje">
            <time class="year tag">17-05-2024</time>
=======
            <time class="year tag" datetime="{{ event.year }}-01-01">
                {{ event.year }}
            </time>
>>>>>>> 4ecc6db16754c9e52b3db499b172a550e99b75be
        </div>
    </div>
</section>